<div class="inner-content pt-4">
  <div class="container-fluid">
    <h3 class="d-flex justify-content-center mb-4"> {{applicationName}} </h3>

    <!--- Search Filters -->
    <app-task-search [formData]="initialFilters" (taskFilterData)="getTasks($event)"
                     (addTask)="addTask($event)"></app-task-search>
    <!--- Search Filters End -->

    <!--- Add or Edit Form -->
    <div *ngIf="addNewTask" class="row">
      <div class="col-md-12 mt-2 d-flex">
        <form nz-form [nzLayout]="'inline'" [formGroup]="todoForm" (ngSubmit)="submitForm()">
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Task Name!">
              <input formControlName="taskName" nz-input placeholder="Task Name"/>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Task Assignee!">
              <input formControlName="taskAssignee" nz-input placeholder="Task Assignee"/>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Task Description!">
              <input formControlName="taskDescription" nz-input placeholder="Task Description"/>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Task Start Date!">
              <nz-date-picker nzFormat="yyyy-MM-dd" formControlName="taskStartDate"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Task End Date!">
              <nz-date-picker nzFormat="yyyy-MM-dd" formControlName="taskEndDate"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control>
              <button nz-button nzType="primary">{{isEdit ? 'Update' : 'Add'}}</button>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control>
              <button class="ml-2" (click)="addNewTask = false; isEdit = false" nz-button
                      nzType="default">Cancel
              </button>
            </nz-form-control>
          </nz-form-item>

        </form>
      </div>
    </div>
    <!--- Add or Edit Form End -->

  </div>
  <div class="row pt-4">

    <!--- Task List -->
    <task-list [taskData]="taskData" (editTask)="onEdit($event)" (deleteTask)="onDelete($event)"></task-list>
    <!--- Task List End -->
  </div>

</div>
